@media screen and (min-width: 768px) {
    .friend-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 16px;
    }
  }
  @media screen and (min-width: 992px) {
    .friend-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 16px;
    }
  }
  
  .friend-container {
    margin: 20px 30px;
    padding: 10px 20px;
  }
  